<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class='main-content'>
    {{>header}}
    <p>This app is created by Aditya Baranwal and make use of data from mapbox.com and darksky.net !</p>
    <img class="portrait" src="./img/robot.jpg">
    </div>
    {{>footer}}
</body>
</html>